<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>undefined</title>
    <meta name="generator" content="Google Web Designer 5.0.4.0226">
    <style type="text/css" id="gwd-text-style">
        p {
            margin: 0px;
        }
        h1 {
            margin: 0px;
        }
        h2 {
            margin: 0px;
        }
        h3 {
            margin: 0px;
        }
    </style>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
        }
        body {
            background-color: transparent;
            transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform-style: preserve-3d;
        }
        .gwd-img-8gle {
            position: absolute;
            width: 1920px;
            height: 1081px;
            top: 0px;
            left: 0px;
        }
        .gwd-img-11pe {
            position: absolute;
            left: 28px;
            top: 184px;
            width: 250px;
            height: 250px;
        }
        .gwd-img-18ft {
            left: 28px;
            top: 763px;
        }
        .gwd-img-1xd2 {
            left: 30px;
            top: 473px;
        }
        .gwd-img-tmjo {
            left: 726px;
            top: 178px;
        }
        .gwd-img-1xx1 {
            left: 730px;
            top: 473px;
        }
        .gwd-img-6cik {
            left: 729px;
            top: 763px;
        }
        .gwd-p-1i7a {
            position: absolute;
            font-family: Roboto;
            font-weight: 900;
            text-align: center;
            padding-left: 0px;
            width: 1367px;
            height: 57px;
            transform-origin: 683.5px 28.5px 0px;
            left: 30px;
            top: 78px;
            color: rgb(255, 255, 255);
            font-size: 45px;
        }
        .gwd-img-movj {
            top: 183px;
            left: 29px;
        }
        .gwd-img-xdyz {
            left: 728px;
        }
        .gwd-p-1o2k {
            position: absolute;
            width: 101px;
            transform-origin: 87.069px 110.465px 0px;
            font-family: Roboto;
            font-weight: bold;
            color: rgb(255, 255, 255);
            font-size: 30px;
            height: 35px;
            left: 322px;
            top: 185px;
        }
        .gwd-p-1vfu {
            position: absolute;
            height: 35px;
            font-size: 30px;
            font-family: Roboto;
            font-weight: bold;
            color: rgb(255, 255, 255);
            left: 431px;
            top: 185px;
            width: 234px;
            transform-origin: 1181.23px 253.359px 0px;
        }
        .gwd-p-jmap {
            position: absolute;
            left: 322px;
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-family: Roboto;
            font-weight: bold;
            height: 31px;
            top: 222px;
            width: 344px;
            transform-origin: 1085.32px 253.359px 0px;
        }
        .gwd-p-cark {
            position: absolute;
            height: 30px;
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-family: Roboto;
            font-weight: bold;
            left: 323px;
            top: 268px;
            width: 345px;
            transform-origin: 1022.22px 253.359px 0px;
        }
        .gwd-p-1dko {
            top: 293px;
            left: 322px;
        }
        .gwd-p-1tzp {
            top: 261px;
            left: 322px;
        }
        .gwd-span-c8gg {
            position: absolute;
            left: 322px;
            font-family: Roboto;
            font-size: 25px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            width: 218px;
            height: 37px;
            transform-origin: 109px 18.5px 0px;
            top: 332px;
        }
        .gwd-span-b2qf {
            position: absolute;
            left: 322px;
            top: 369px;
            font-family: Roboto;
            font-weight: bold;
            color: rgb(255, 255, 255);
            width: 344px;
            height: 57px;
            transform-origin: 172px 28.5px 0px;
            font-size: 20px;
        }
        .gwd-p-14cb {
            left: 322px;
            top: 185px;
        }
        .gwd-p-k8nq {
            left: 322px;
            top: 222px;
        }
        .gwd-p-7lu3 {
            left: 322px;
            top: 293px;
        }
        .gwd-span-bt5m {
            left: 322px;
            top: 369px;
        }
        .gwd-p-1g6p {
            top: 553px;
        }
        .gwd-span-vjc4 {
            top: 624px;
        }
        .gwd-p-189f {
            top: 477px;
        }
        .gwd-p-ggre {
            top: 514px;
        }
        .gwd-p-tg0u {
            top: 585px;
        }
        .gwd-span-cvut {
            top: 661px;
        }
        .gwd-p-a1m3 {
            top: 844px;
        }
        .gwd-span-ybeg {
            top: 915px;
        }
        .gwd-p-kf59 {
            top: 768px;
        }
        .gwd-p-8b9o {
            top: 805px;
        }
        .gwd-p-twr2 {
            top: 876px;
        }
        .gwd-span-zc7d {
            top: 952px;
        }
        .gwd-p-1uon {
            left: 1125px;
        }
        .gwd-p-1fsh {
            left: 1016px;
        }
        .gwd-span-dt8d {
            left: 1016px;
        }
        .gwd-p-vh1r {
            left: 1016px;
        }
        .gwd-p-8td9 {
            left: 1016px;
        }
        .gwd-p-xo3i {
            left: 1016px;
        }
        .gwd-span-1xsh {
            left: 1016px;
        }
        .gwd-p-b7q2 {
            top: 479px;
        }
        .gwd-p-1ej0 {
            top: 555px;
        }
        .gwd-span-dyhw {
            top: 626px;
        }
        .gwd-p-529u {
            top: 479px;
        }
        .gwd-p-1kew {
            top: 516px;
        }
        .gwd-p-8c01 {
            top: 587px;
        }
        .gwd-span-1t87 {
            top: 663px;
        }
        .gwd-p-1176 {
            top: 768px;
        }
        .gwd-p-m2ug {
            top: 844px;
        }
        .gwd-span-1tm1 {
            top: 915px;
        }
        .gwd-p-1ktt {
            top: 768px;
        }
        .gwd-p-1nfs {
            top: 805px;
        }
        .gwd-p-o14p {
            top: 876px;
        }
        .gwd-span-au7w {
            top: 952px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
</head>

<body class="htmlNoPages">
<img src="assets/fullscreen-match.png" id="fullscreen-match" class="gwd-img-8gle">
<img class="gwd-img-11pe gwd-img-tmjo gwd-img-xdyz" id="imageblue-1">
<img class="gwd-img-11pe gwd-img-tmjo gwd-img-6cik" id="imageblue-3">
<img class="gwd-img-11pe gwd-img-tmjo gwd-img-1xx1" id="imageblue-2">
<p class="gwd-p-1i7a" id="match-title"><%=matchData.level%> Match #<%=matchData.number%></p>

<img class="gwd-img-11pe gwd-img-movj" id="imagered-1" src="<%=stats.red[0].robot_img_path %>">
<p class="gwd-p-1o2k" id="number-red1">#<%=stats.red[0].team_number %></p>
<p class="gwd-p-1vfu" id="name-red1"><%=stats.red[0].team_nickname%></p>
<p class="gwd-p-jmap gwd-p-k8nq" id="location-red1"><%=stats.red[0].team_location%></p>
<p class="gwd-p-cark gwd-p-1tzp" id="rank-red1">Current Rank: <%=stats.red[0].current_rank%></p>
<p class="gwd-p-cark gwd-p-1dko" id="wlt-red1">W-L-T: <%=stats.red[0].current_record.wins%>-<%=stats.red[0].current_record.losses%>-<%=stats.red[0].current_record.ties%></p>
<span class="gwd-span-c8gg" id="rp-red1">Average RP: <%=stats.red[0].current_avg_rd%></span>
<% if (stats.red[0].current_next_match_str != '') {%>
<span class="gwd-span-b2qf" id="next-team1">Next Match:<br><%=stats.red[0].current_next_match_str%></span>
<%}%>

<p class="gwd-p-1vfu" id="name-red1"><%=stats.red[1].team_nickname%></p>
<img class="gwd-img-11pe gwd-img-1xd2" id="imagered-2" src="<%=stats.red[1].robot_img_path %>">
<p class="gwd-p-1o2k gwd-p-14cb gwd-p-189f" id="number-red2">#<%=stats.red[0].team_number %></p>
<p class="gwd-p-cark gwd-p-1tzp gwd-p-1g6p" id="rank-red2">Current Rank: <%=stats.red[0].current_rank%></p>
<span class="gwd-span-c8gg gwd-span-vjc4" id="rp-red2">Average RP: <%=stats.red[0].current_avg_rd%></span>
<p class="gwd-p-jmap gwd-p-k8nq gwd-p-ggre" id="location-red2"><%=stats.red[0].team_location%></p>
<p class="gwd-p-cark gwd-p-1dko gwd-p-7lu3 gwd-p-tg0u" id="wlt-red2">W-L-T: <%=stats.red[0].current_record.wins%>-<%=stats.red[0].current_record.losses%>-<%=stats.red[0].current_record.ties%></p>
<% if (stats.red[0].current_next_match_str != '') {%>
<span class="gwd-span-b2qf gwd-span-bt5m gwd-span-cvut" id="next-red2">Next Match:<br><%=stats.red[0].current_next_match_str%></span>
<%}%>

<p class="gwd-p-1vfu" id="name-red1"><%=stats.red[2].team_nickname%></p>
<img class="gwd-img-11pe gwd-img-18ft" id="imagered-3" src="<%=stats.red[2].robot_img_path %>">
<p class="gwd-p-1o2k gwd-p-14cb gwd-p-189f gwd-p-kf59" id="number-red3">#<%=stats.red[0].team_number %></p>
<p class="gwd-p-cark gwd-p-1tzp gwd-p-1g6p gwd-p-a1m3" id="rank-red3">Current Rank: <%=stats.red[0].current_rank%></p>
<span class="gwd-span-c8gg gwd-span-vjc4 gwd-span-ybeg" id="rp-red3">Average RP: <%=stats.red[0].current_avg_rd%></span>
<p class="gwd-p-jmap gwd-p-k8nq gwd-p-ggre gwd-p-8b9o" id="location-red3"><%=stats.red[0].team_location%></p>
<p class="gwd-p-cark gwd-p-1dko gwd-p-7lu3 gwd-p-tg0u gwd-p-twr2" id="wlt-red3">W-L-T: <%=stats.red[0].current_record.wins%>-<%=stats.red[0].current_record.losses%>-<%=stats.red[0].current_record.ties%></p>
<% if (stats.red[0].current_next_match_str != '') {%>
<span class="gwd-span-b2qf gwd-span-bt5m gwd-span-cvut gwd-span-zc7d" id="next-red3">Next Match:<br><%=stats.red[0].current_next_match_str%></span>
<%}%>

<p class="gwd-p-1vfu gwd-p-1uon" id="name-blue1"><%=stats.blue[0].team_nickname%></p>
<p class="gwd-p-1o2k gwd-p-14cb gwd-p-vh1r" id="number-blue1">#<%=stats.blue[0].team_number %></p>
<p class="gwd-p-cark gwd-p-1tzp gwd-p-1fsh" id="rank-blue1">Current Rank: <%=stats.blue[0].current_rank%></p>
<span class="gwd-span-c8gg gwd-span-dt8d" id="rp-blue1">Average RP: <%=stats.blue[0].current_avg_rd%></span>
<p class="gwd-p-jmap gwd-p-k8nq gwd-p-8td9" id="location-blue1"><%=stats.blue[0].team_location%></p>
<p class="gwd-p-cark gwd-p-1dko gwd-p-7lu3 gwd-p-xo3i" id="wlt-blue1">W-L-T: <%=stats.blue[0].current_record.wins%>-<%=stats.blue[0].current_record.losses%>-<%=stats.blue[0].current_record.ties%></p>
<% if (stats.blue[0].current_next_match_str != '') {%>
<span class="gwd-span-b2qf gwd-span-bt5m gwd-span-1xsh" id="next-blue1">Next Match:<br><%=stats.blue[0].current_next_match_str%></span>
<%}%>

<p class="gwd-p-1vfu gwd-p-1uon gwd-p-b7q2" id="name-blue2"><%=stats.blue[0].team_nickname%></p>
<p class="gwd-p-1o2k gwd-p-14cb gwd-p-vh1r gwd-p-529u" id="number-blue2">#<%=stats.blue[0].team_number %></p>
<p class="gwd-p-cark gwd-p-1tzp gwd-p-1fsh gwd-p-1ej0" id="rank-blue2">Current Rank: <%=stats.blue[0].current_rank%></p>
<span class="gwd-span-c8gg gwd-span-dt8d gwd-span-dyhw" id="rp-blue2">Average RP: <%=stats.blue[0].current_avg_rd%></span>
<p class="gwd-p-jmap gwd-p-k8nq gwd-p-8td9 gwd-p-1kew" id="location-blue2"><%=stats.blue[0].team_location%></p>
<p class="gwd-p-cark gwd-p-1dko gwd-p-7lu3 gwd-p-xo3i gwd-p-8c01" id="wlt-blue2">W-L-T: <%=stats.blue[0].current_record.wins%>-<%=stats.blue[0].current_record.losses%>-<%=stats.blue[0].current_record.ties%></p>
<% if (stats.blue[0].current_next_match_str != '') {%>
<span class="gwd-span-b2qf gwd-span-bt5m gwd-span-1xsh gwd-span-1t87" id="next-blue2">Next Match:<br><%=stats.blue[0].current_next_match_str%></span>
<%}%>

<p class="gwd-p-1vfu gwd-p-1uon gwd-p-b7q2 gwd-p-1176" id="name-blue3"><%=stats.blue[0].team_nickname%></p>
<p class="gwd-p-1o2k gwd-p-14cb gwd-p-vh1r gwd-p-529u gwd-p-1ktt" id="number-blue3">#<%=stats.blue[0].team_number %></p>
<p class="gwd-p-cark gwd-p-1tzp gwd-p-1fsh gwd-p-1ej0 gwd-p-m2ug" id="rank-blue3">Current Rank: <%=stats.blue[0].current_rank%></p>
<span class="gwd-span-c8gg gwd-span-dt8d gwd-span-dyhw gwd-span-1tm1" id="rp-blue3">Average RP: <%=stats.blue[0].current_avg_rd%></span>
<p class="gwd-p-jmap gwd-p-k8nq gwd-p-8td9 gwd-p-1kew gwd-p-1nfs" id="location-blue3"><%=stats.blue[0].team_location%></p>
<p class="gwd-p-cark gwd-p-1dko gwd-p-7lu3 gwd-p-xo3i gwd-p-8c01 gwd-p-o14p" id="wlt-blue3">W-L-T: <%=stats.blue[0].current_record.wins%>-<%=stats.blue[0].current_record.losses%>-<%=stats.blue[0].current_record.ties%></p>
<% if (stats.blue[0].current_next_match_str != '') {%>
<span class="gwd-span-b2qf gwd-span-bt5m gwd-span-1xsh gwd-span-1t87 gwd-span-au7w" id="next-blue3">Next Match:<br><%=stats.blue[0].current_next_match_str%></span>
<%}%>

</body>

</html>
